/*Fonts*/
@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
       url(../fonts/cuprum.woff2) format("woff2"),
       url(../fonts/cuprum.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
       url(../fonts/cuprumitalic.woff2) format("woff2"),
       url(../fonts/cuprumitalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
       url(../fonts/cuprumbold.woff2) format("woff2"),
       url(../fonts/cuprumbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
       url(../fonts/cuprumbolditalic.woff2) format("woff2"),
       url(../fonts/cuprumbolditalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url(../fonts/ptsans.woff2) format("woff2"),
       url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url(../fonts/ptsansbold.woff2) format("woff2"),
       url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Colors */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-backgroung2: #293449;
  --white: #FFFFFF;
  --black: #000000;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --gradient-grey: #EAEAEA;
  --nav-background:#32425C;
  --nav-active: #161D29;
  --checkout-active: #b1d29e;
}
.body-page {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
  border: none;
}
.header {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
}
.top-header {
  background-color: var(--basic-backgroung2);
  height: 42px;
  color: var(--white);
}
.top-header-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr max-content max-content max-content;
}
.logo {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;

}
.logo-image {
  width: 228px;
  height: 55px;
  display: block;
  margin-left: -4px;
}
.search {
  margin: 0;
  padding: 0;
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  height: 42px;
}
.search-text {
  order: 1;
  border: none;
  background: none;
  padding: 9px 11px;
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
}
.search-btn {
  border: none;
  background: url(../img/icons/icon-search.svg) no-repeat 50% 50%;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.search:hover .search-btn {
  opacity: 1;
}
.search:focus-within {
  background-color: var(--white);
  outline: 1px solid var(--basic-backgroung2);
}
.search:focus-within .search-text {
  background-color: var(--white);
  outline: none;
  color: var(--black);
}
.search:focus-within .search-btn {
  background-image: url(../img/icons/icon-search-focus.svg);
  background-color: var(--white);
  opacity: 1;
}
.bookmarks-link,
.cart-link,
.checkout-link {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  display: block;
  padding-top: 9px;
  padding-right: 27px;
  height: 33px;

}
.bookmarks-link,
.cart-link {
  padding-left: 45px;
  position: relative;
}
.bookmarks-link::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/icons/icon-bookmark.svg) no-repeat 50% 50%;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.3;
}
.bookmarks-link:hover::before {
   opacity: 1;
}
.bookmarks-link:active {
  background-color: var(--nav-active);
}

.cart-link::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/icons/icon-cart.svg) no-repeat 50% 50%;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.3;
}
.cart-link:hover::before {
  opacity: 1;
}
.checkout-link {
  padding-left: 18px;
  padding-right: 18px;
  background-color: var(--basic-green);
}
.checkout-link:hover {
  background-color: var(--success);
}
.checkout-link:active {
  color: var(--checkout-active);
}
.mid-header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}
.slogan  {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 30px;
}
.slogan p {
  margin: 0;
  margin-top: 13px;
  line-height: 24px;
}
.header-contacts {
  flex-grow: 1;
  text-align: center;
  padding-left: 27px;
}
.header-phone {
  display: inline-block;
  position: relative;
  border: 2px solid var(--white);
  padding: 5px 48px 6px 72px;
  color: var(--basic-red);
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  margin-top: 16px;
}
.header-phone::before {
  content: "";
  display: block;
  width: 20px;
  height: 17px;
  background: url(../img/icons/icon-phone.svg) no-repeat 50% 50%;
  position: absolute;
  left: 36px;
  top: 50%;
  transform: translate(0, -50%);
}
.header-adress {
  color: var(--nav-background);
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 3px;
}
.account-block {
  display: flex;
  align-items: flex-start;
}
.account-button {
  display: block;
  position: relative;
  color: var(--black);
  text-decoration: none;
  font-family: inherit;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--white);
  padding: 12px 24px;
  margin-top: 16px;
}
.account-button:hover {
  color: var(--basic-red);
}
.login-button {
  margin-right: 13px;
  padding-left: 47px;
}
.login-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 17px;
  background: url(../img/icons/icon-login.svg) no-repeat 50% 50%;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.login-button:hover::before {
  background: url(../img/icons/icon-login-hover.svg) no-repeat 50% 50%;
}
.authorised-buttons {
  display: grid;
  grid-template-columns: 1fr min-content;
}
.inside-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 17px;
  background: url(../img/icons/icon-user.svg) no-repeat 50% 50%;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.inside-button {
  padding-left: 56px;
}
.authorised-buttons .logout-button {
  padding: 12px;
  padding-left: 0;
}
.authorised-links {
  text-align: center;
  padding-top: 5px;
}
.authorised-links a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--nav-background);
}
.bottom-header {
 padding-top: 10px;
 padding-bottom: 65px;
}
.header-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  background-color: var(--nav-background);
  box-shadow: 0 5px 0 0 var(--basic-backgroung2);
}
.header-nav-item:hover {
  background-color: var(--basic-backgroung2);
}
.header-nav-item a {
  display: block;
  color: var(--white);
  text-decoration: none;
  padding: 15px 28px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden {
  display: none;
}
